<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="button">

      <a href="#">
      <iconify-icon id="heart" alt="Heart, in order to select favourite ones" icon="mdi:heart"></iconify-icon>
      </a>

    </div>

    <script src="/heart.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>
