body {
    margin: 0;
    padding: 0;
    background-color: #050536 ;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
    
  }
  nav .navbar-nav li a{   
     color: white;  
    }