a {
  color: white;
}

.navigation-menu {
  ul {
    list-style: none;
    padding: 02%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    text-align: right;
    margin-right: 5%;

    li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  label{
    display: none;
    margin-bottom: 0.5rem;

  }
  #menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    ul {
      transform: translateX(200%);
      position: absolute;
      top: 14%;
      right: 0;
      background-color: rgba(5, 5, 54, 1);
      z-index: 100;
      padding: 20px;
      transition: transform 0.5s ease-in-out;

      li {
        display: block;
        margin-bottom: 10px;
      }
    }

    .menu-icon {
      display: block;
      cursor: pointer;
      text-align: right;
      color: white;
      margin-right: 5%;
    }

    #menu-toggle {
      display: none;
    }

    #menu-toggle:checked ~ ul {
      transform: translateX(0);
    }
  }
}
