<p class="color"><img ngModel #star1 (click)="functionClick2()" alt="star 1" id="star1" src="../../../assets/images/star.jpg" class="stars">
    <img ngModel #star2 (click)="functionClick2()" alt="star 2" id="star2" src="../../../assets/images/star.jpg" class="stars">
    <img ngModel #star3  (click)="functionClick2()" alt="star 3" id="star3" src="../../../assets/images/star.jpg" class="stars">
    <img ngModel #star4 (click)="functionClick2()" alt="star 4" id="star4" src="../../../assets/images/star.jpg" class="stars">
    <img ngModel #star5 (click)="functionClick2()" alt="star 5" id="star5" src="../../../assets/images/star.jpg" class="stars">
</p>
