<p ngmodel #p class="color"><img ngModel #star1 (click)="functionClick1star()" alt="star 1" id="star1" src="../../../assets/images/star.svg" class="stars">
    <img ngModel #star2 (click)="functionClick2star()" alt="star 2" id="star2" src="../../../assets/images/star.svg" class="stars">
    <img ngModel #star3  (click)="functionClick3star()" alt="star 3" id="star3" src="../../../assets/images/star.svg" class="stars">
    <img ngModel #star4 (click)="functionClick4star()" alt="star 4" id="star4" src="../../../assets/images/star.svg" class="stars">
    <img ngModel #star5 (click)="functionClick5star()" alt="star 5" id="star5" src="../../../assets/images/star.svg" class="stars">
</p>
