.table {
	background-color: whitesmoke;
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.title {
	display: flex;
	justify-content: center;
	background-color: #dfdfdf;
}
.options {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}