$phone: 480px;
$tablet: 728px;
$desktop: 1024px;
.circle {
  border-radius: 50% 50% 50% 50%;
  border: 2px solid black;
  // position: absolute;
  // min-width: 85%;
  // max-width: 90%;
  // width: 10%;
  // height: 10%;
  overflow: hidden;
  // border: 2px solid black;
  contain: content;
  img {
    width: 100%;
    // height: auto;
    //   margin: -25px 0px 0px 0px;
    // object-fit: contain;
  }
  @supports (object-fit: cover) {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: $phone) {
  .circle {
    height: 20dvw;
    width: 20dvw;
    margin-bottom: 10%;
  }
}
@media (min-width: $phone) and (max-width: $tablet) {
  .circle {
    height: 10dvw;
    width: 10dvw;
    margin-bottom: 15%;
  }
}
@media (min-width: $desktop) {
  .circle {
    height: 6dvw;
    width: 6dvw;
    margin-bottom: 20%;
  }
}
