<div class="maincard_bloq">
  <div id="card" class="card" ngModel #card>
    <div class="face">
      <div class="cropped" (click)="turn()">
        <img class="card__image" src={{character.imageUrl}} alt="" />
      </div>
      <div class="heart_image" (click)="removeFromFavoties()">
        <img src="../../../assets/images/1f5d1.png" alt="basura" />
      </div>
      <div class="card__title" (click)="toggleEdit()" [contentEditable]="character.editable">
        <h3>{{character.name}}</h3>
      </div>
    </div>
    <div class="face behind" (click)="turn()">
      <span class="film">Film: </span>
      <h4>{{character.films}}</h4>
      <span class="serial">Serial: </span>
      <h5>{{character.tvShows}}</h5>
      <span class="game">Videogame: </span>
      <h6>{{character.videoGames}}</h6>
    </div>
  </div>
</div>
<button *ngIf="character.editable" (click)="saveChanges()">Guardar</button>
