<nav class="sidebar" [@sidebarTrigger]="isOpen ? 'open' : 'close'">
    <div class="sidebar__content">
        <a (click)="toggleOpen()" class="toggle-btn">
            <span *ngIf="showSidebar" class="materia-icons close">close</span>
            <span *ngIf="!showSidebar" class="material-icons">menu</span>
        </a>
    </div>
    <section class="section_circles row row-cols-2 row-cols-sm-2 row-cols-md-4">
       <app-circle-character *ngFor="let aCharacter of characters" [character]="aCharacter"></app-circle-character> 
    </section>
    
</nav>
