body {
    margin: 0;
    padding: 0;
  }
  
  
  
  .footer {
    background-color: #050536 ;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    
  }
